body {
  background-image: url("/Users/josefletes/Flatiron/phase1/images/parchmentBackground.png");
  background-size: 1900px;
}

h1 {
  color: #750e05;
  text-shadow: 2px 2px 8px black;
  /* font-size: 50px; */
  font-family: fantasy;
  font-weight: bold;
}

h2 {
  color: black;
  text-shadow: 2px 2px 7px black;
  margin-left: 30px;
  margin-top: -40px;
  font-size: 30px;
  font-family: fantasy;
  font-weight: bold;
}

form {
  /* text-shadow: 1px 1px 2px black; */
  font-weight: bold;
  text-align: center;
  font-family: fantasy;
  margin-top: 70px;
}

#search-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type=submit] {
  font-family: fantasy;
  cursor: pointer;
}

/* input[type=text] {
  font-family: fantasy;
} */