/* body {
  background-image: url("/Users/josefletes/Flatiron/phase1/images/parchmentBackground.png");
  background-size: 1900px;
} */

.page-header {
  color: #750e05;
  text-shadow: 2px 2px 8px black;
  font-size: 60px;
  font-family: fantasy;
  font-weight: bold;
}

.page-subHeader {
  color: black;
  text-shadow: 2px 2px 7px black;
  margin-left: 30px;
  margin-top: -70px;
  font-size: 40px;
  font-family: fantasy;
  font-weight: bold;
}

form {
  text-shadow: 0px 0px 1px black;
  font-weight: bold;
  text-align: left;
  font-family: fantasy;
  margin-left: 30px;
  margin-top: 30px;
}

#search-box {
  margin-left: 5px;
}

.submit-btn {
  background-color: #750e05;
  border-color: black;
  font-family: fantasy;
  font-size: 12px;
  color: white;
  text-shadow: 0 0 1px white;
  cursor: pointer;
}

.spell-card {
  display: inline-block;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #750e05;
  max-width: 550px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

dt {
  font-family:monospace;
  font-size: 20px;
  color: white;
  text-shadow: 0 0 10px black;
}

dd {
  font-family: monospace;
  font-size: 16px;
}